#similar
  display: none
  border: 1px dotted red
  border-radius: 5px
  padding: 5px
.no-data
  font-style: italic
  opacity: 0.6
  cursor: default
  &:hover
    opacity: 1.0
.expired
  td
    color: #ff0004
.history
  border-collapse: collapse
  width: 100%
  tr
    td
      border: 1px solid black
.price_summary
  max-height: 800px
  width: 100%
  overflow: auto
.addPrice
  width: 100%
.price_cost
  width: 100px
.person-field
  width: 270px * 2
.x2
  width: 270px * 2
#hidden-Todos
  display: none
.hidden
  display: none
#scheme
  img
    max-width: 480px
.small
  font-size: 0.8em